<div class="section welcome" id="cft">
    <h2 class="title">CALL FOR TALKS</h2>
    <hr />
    <br />
    <div class="call-for-talks">
        <h3 class="text-title mb-1" style="color: #ffffff">
            Do you have knowledge to share about Erlang, Elixir, Gleam, or the
            wider BEAM ecosystem? We want to hear from you! We welcome proposals
            from everyone, whether you are a seasoned developer on a core team
            or new to Erlang/Elixir/Gleam. We are committed to building an
            inclusive lineup and especially welcome submissions from speakers in
            underrepresented groups within the software development community.
        </h3>

        <a
            class="page-scroll btn-outline btn-purple mb-5 btn-purple"
            href="https://forms.gle/yHRMBRaWyRhkBkrc8"
            >SUBMIT</a
        >
    </div>
</div>
