<div class="section schedule" id="schedule">
    <h2 class="title">SCHEDULE</h2>
     <hr style="border: 1px solid #fff; width: 80%; margin: 0 auto;"/>
    <br><br><br><br>
    <div style="width: 80%; margin: 0 auto;">
        <table style="width: 100%; border-collapse: collapse; background-color: #000; color: #fff;">
            <thead>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Time</th>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Talk/Activity</th>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Speaker</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">8:30 AM - 9:00 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Registration</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">9:00 AM - 9:10 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Welcome to the Conference!</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">9:15 AM - 09:55 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/gleams-first-year" style="color: #4EB813; text-decoration: none;">Keynote: Gleam's first year</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/louis-pilfold" style="color: #0074A9; text-decoration: none;">Louis Pilfold</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">10:00 AM - 10:30 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/the-art-of-writing-beautiful-code" style="color: #4EB813; text-decoration: none;">The Art of Writing Beautiful Code</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/brujo-benavides" style="color: #0074A9; text-decoration: none;">Brujo Benavides</a></td>
                </tr>

                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">10:30 AM - 10:55 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Coffee Break</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">10:55 AM - 11:25 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/why-livebook-is-my-dream-data-science-workbench" style="color: #4EB813; text-decoration: none;">Why Livebook is my dream data science workbench</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/christopher-grainger" style="color: #0074A9; text-decoration: none;">Chris Grainger</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">11:30 AM - 12:00 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/deploying-elixir-on-azure-with-some-bonus-side-quests" style="color: #4EB813; text-decoration: none;">Deploying Elixir On Azure With Some Bonus Side Quests</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/matteo-gheri" style="color: #0074A9; text-decoration: none;">Matteo Gheri</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">12:05 PM - 12:35 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/lets-talk-about-tests" style="color: #4EB813; text-decoration: none;">Let's talk about tests</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/natalia-chechina" style="color: #0074A9; text-decoration: none;">Natalia Chechina</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">12:35 PM - 1:35 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Lunch</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
            <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">1:35 PM - 2:05 PM</td>
                      <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/eat-your-greens" style="color: #4EB813; text-decoration: none;">Eat your Greens. A Philosophy for Language Design</a></td>
                        <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/Peter-Saxton" style="color: #0074A9; text-decoration: none;">Peter Saxton</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">2:10 PM - 2:40 PM</td>
                      <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/using-json-in-elixir" style="color: #4EB813; text-decoration: none;">Trade-offs using JSON in Elixir 1.18: Wrappers vs Erlang Libs</a></td>
                        <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/michal-muskala" style="color: #0074A9; text-decoration: none;">Michał Muskała</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">2:45 PM - 3:15 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/distributed-atomvm" style="color: #4EB813; text-decoration: none;">Distributed AtomVM: let's create clusters of microcontrollers</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/paul-guyot" style="color: #0074A9; text-decoration: none;">Paul Guyot</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">3:15 PM - 3:40 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Coffee Break</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">3:40 PM - 4:10 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/the-erlang-amqp-client-in-action/" style="color: #4EB813; text-decoration: none;">Erlang and RabbitMQ: The Erlang amqp_client in Action</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/katleho-kanyane" style="color: #0074A9; text-decoration: none;">Katleho Kanyane</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">4:15 PM - 4:55 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/talks/introducing-tau5" style="color: #4EB813; text-decoration: none;">Keynote: Introducing Tau5 - a new BEAM-powered live coding platform</a></td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamlondon.com/participants/sam-aaron" style="color: #0074A9; text-decoration: none;">Sam Aaron</a></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">5:00 PM - 5:10 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Closing Notes</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">5:10 PM - 6:00 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Montserrat', sans-serif;">Drinks & Networking</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </hr>
</div>
