<div class="venue-wrapper">
    <!-- Original Venue Section -->
    <div class="venue-container">
        <div class="section venue" id="venue">
            <div class="row">
                <div class="left-content">
                    <div class="venue-text-container">
                        <h2 class="title">CONFERENCE VENUE</h2>
                        <hr class="venue-divider" />
                        <p class="venue-subtitle">CodeNode</p>
                        <p class="venue-text">
                            <i class="fas fa-map-marker-alt"></i> 10 South
                            Place,<br />
                            EC2M 7EB, <br />
                            London
                        </p>
                        <a
                            href="https://codenode.live/about-us/"
                            class="venue-link"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            VENUE DETAILS
                        </a>
                    </div>
                </div>
                <div class="right-content">
                    <div class="map-container">{% include map.html %}</div>
                </div>
            </div>
            <!--

            <div class="row tutorial-venue" style="margin-top: 3rem">
                <div class="left-content">
                    <div class="venue-text-container">
                        <h2 class="title">TUTORIAL VENUE</h2>
                        <hr class="venue-divider" />
                        <p class="venue-subtitle">The Loom</p>
                        <p class="venue-text">
                            <i class="fas fa-map-marker-alt"></i> 14 Gower's Walk,<br />
                            E1 8PY, <br />
                            London
                        </p>
                    </div>
                </div>
                </div>-->
        </div>
    </div>
</div>
