<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/codenodevenuebw.png');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE</h2>
            <hr/>
            <p class="venue-subtitle">CodeNode</p>
            <p class="venue-text">10 South Place,<br>
                EC2M 7EB, <br>
              London</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://codenode.live/about-us/" style="color: #0074a9" target="_blank">VENUE DETAILS</a><br>
                </h2>

        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>